.settings/
target/
.classpath
.project
.idea/
*.iml
.DS_Store

#忽略eclipse相关
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml

*.class
*.jar
*.war
*.ear
